<html>
  <head>
    <title>Trivia Deportiva</title>
  </head>
  <body bgcolor="#F35555">
    <h1 style="color:white;">Trivia Deportiva</h1>
    <form action = "/">
      <table>
        <tr>
          <td>Ingresa letra</td>
          <td>
              <input type="text" name="txtLetra" id="txtLetra" value="" size="1" />
          </td>
          <td>
            <input type="submit" id="btnEnviar" name="btnEnviar" value="Enviar" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
